<div class="row">
  <div class="col">
    datePicker Resumee
    checkin {{checkIn}}
    Check-Out {{checkIn}}
    numAdulti {{numAdulti}}
    numBambini {{numBambini}}
  </div>
</div>
<div class="row pt-1 pb-1 justify-content-center">
  <div class="col-sm-4 pt-1 pb-1" *ngFor="let camera of camere | paginate: { itemsPerPage : 6, currentPage: p }">
    <div class="card" style="width: 18rem;">

      <div [attr.id]="'carouselExample_' + camera.idCamera" class="carousel slide">
        <div class="carousel-inner">
          <div *ngFor="let foto of camera.urlImmagini; let isFirst = first" class="carousel-item" [class.active]="isFirst">
            <img  [src]="foto" class="card-img-top" alt="foto">
        </div>
        <button *ngIf="camera.urlImmagini != undefined && camera.urlImmagini.length > 1" class="carousel-control-prev" type="button" [attr.data-bs-target]="'#carouselExample_' + camera.idCamera" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
      </button>
      <button *ngIf="camera.urlImmagini != undefined && camera.urlImmagini.length > 1" class="carousel-control-next" type="button" [attr.data-bs-target]="'#carouselExample_' + camera.idCamera" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
      </button>
      </div>

      <div class="card-body">
        <h5 class="card-title">{{camera.numeroCamera}}</h5>
        <p class="card-text">Residenza:<br>{{camera.nomeResidenza}}</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Posti Letto: {{camera.postiLetto}}</li>
        <li class="list-group-item">Prezzo Base: {{camera.prezzoBase}} € a notte</li>
        <li class="list-group-item">Orario Check-Out: {{camera.infoCheckOut}}</li>
      </ul>
      <div class="card-body">
        <!-- <a class="btn btn-primary" (click)="prenota(camera.id)">Prenota</a> -->
        <button class="btn btn-primary" (click)="prenota(camera.idCamera)" [ngClass]="{'disabled-button': !authService.isLogged()}">Prenota</button>
      </div>
    </div>
  </div>
  <div class="row pt-1 pb-1 justify-content-center">

  </div>

</div>

    <pagination-controls class="my-controls" (pageChange)="p = $event"></pagination-controls>

