<section class="w-100 p-4 d-flex justify-content-center pb-4">
  <div style="width: 26rem;">
    <!-- Pills navs -->
    <ul class="nav nav-pills nav-justified mb-3" id="ex1" role="tablist">
      <li class="nav-item" role="presentation">
        <a class="nav-link" id="tab-login" data-mdb-pill-init="" role="tab" aria-controls="pills-login" aria-selected="false" data-mdb-tab-initialized="true" tabindex="-1"  routerLink="/login">Login</a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link active" id="tab-register" data-mdb-pill-init="" role="tab" aria-controls="pills-register" aria-selected="true" data-mdb-tab-initialized="true" routerLink="/signup">Registrazione</a>
      </li>
    </ul>
    <!-- Pills navs -->

    <!-- Pills content -->
    <div class="tab-content">
      <div class="tab-pane fade" id="pills-login" role="tabpanel" aria-labelledby="tab-login">
      </div>
      <div class="tab-pane fade active show" id="pills-register" role="tabpanel" aria-labelledby="tab-register">
        <form (ngSubmit)="gestioneRegistrazione()">

          <!-- Email input -->
          <div data-mdb-input-init="" class="form-outline mb-4" data-mdb-input-initialized="true">
            <input type="email" id="email" class="form-control" ngModel="email" [ngModelOptions]="{standalone: true}" [(ngModel)]="email">
            <label class="form-label" for="email" style="margin-left: 0px;">Email</label>
          <div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 40px;"></div><div class="form-notch-trailing"></div></div></div>

          <!-- Username input -->
          <div data-mdb-input-init="" class="form-outline mb-4" data-mdb-input-initialized="true">
            <input type="text" id="username" class="form-control" ngModel="username" [ngModelOptions]="{standalone: true}" [(ngModel)]="username">
            <label class="form-label" for="username" style="margin-left: 0px;">Username</label>
          <div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 66.4px;"></div><div class="form-notch-trailing"></div></div></div>

          <!-- Password input -->
          <div data-mdb-input-init="" class="form-outline mb-4" data-mdb-input-initialized="true">
            <input type="password" id="password" class="form-control" ngModel="password" [ngModelOptions]="{standalone: true}" [(ngModel)]="password">
            <label class="form-label" for="password" style="margin-left: 0px;">Password (almeno 8 caratteri)</label>
          <div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 64.8px;"></div><div class="form-notch-trailing"></div></div></div>

          <!-- Repeat Password input -->
          <div data-mdb-input-init="" class="form-outline mb-4" data-mdb-input-initialized="true">
            <input type="password" id="confirmPassword" class="form-control" ngModel="confirmPassword" [ngModelOptions]="{standalone: true}" [(ngModel)]="confirmPassword">
            <label class="form-label" for="confirmPassword" style="margin-left: 0px;">Ripeti password</label>
          <div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 106.4px;"></div><div class="form-notch-trailing"></div></div></div>

          <!-- Checkbox -->
          <div class="form-check d-flex justify-content-center mb-4">
            <input class="form-check-input me-2" type="checkbox" value="" id="registerCheck" aria-describedby="registerCheckHelpText">
            <label class="form-check-label" for="registerCheck">
              Ho letto e accetto i termini di utilizzo.
            </label>
          </div>

          <!-- Submit button -->
          <button type="submit" data-mdb-button-init="" data-mdb-ripple-init="" class="btn btn-primary btn-block mb-3" data-mdb-button-initialized="true">Registrazione</button>
        </form>
      </div>
    </div>
    <!-- Pills content -->
  </div>
</section>
