<div class="text-center row">
  <div class=" col-md-6">
    <img src="assets/images/not-found2.webp" alt="" class="img-fluid">
  </div>
  <div class=" col-md-6 mt-5">
    <p class="fs-3"><span class="text-danger">
        <h1>404</h1>
      </span></p>
    <p class="fs-3"> <span class="text-danger">Opps!</span> Pagina non trovata.</p>
    <p class="lead">
      Ci dispiace, ma la pagina che stai cercando sembra che non esista, sia stata rimossa oppure sia temporaneamente
      non raggiungibile.
    </p>
    <a routerLink="/home" class="btn btn-primary">Go Home</a>
  </div>

</div>
