.container-fluid {
  margin-left: 80px;
  margin-right: 10px;
}

img {
  display: inline-block;
}

.dduser {
  margin-right: 80px;
  margin-left: 20px;
}

nav {
  /* margin: 0; */
  margin-bottom: 0.8%;
}
